<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="IsPasswordSaved" value="False" />
		<add key="ID" value=""/>
		<add key="Password" value=""/>
		<add key="DatabaseAddress" value="localhost"/>
		<add key="DatabasePassword" value="2004"/>
		<add key="DatabaseUID" value="root"/>
		<add key="DatabaseName" value="lab3"/>
		<add key="ExportDIR" value=""/>
	</appSettings>
</configuration>